header{
    height: 160px;
    padding-top: 20px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    
    position: relative;
    color: #fff;
    &>div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 130px;
      
        padding-inline: 50px;
    }
    .logo{
        width: 10%;
        max-width: 60px;
        filter: invert(1);
        
    }
}
.searchControl{
    background-color: white;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 620px;
    padding-inline: 5px;
    border-radius: 5px;

    &>input{
        width: 97%;
        padding: 7px 0;
        border: none;
    }
    &>.searchIcon{
        color:#000;
        font-size: 18px;
    }
}
.links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    gap: 40px;
    width: 20%;
    max-width: 80px;
    position: relative;
    &>div{
        display: flex;
        align-items: center;
        gap: 25px;
       
    }
    
    & li{
        position: relative;
        cursor: pointer;
    }
}
.iconsLink{
    font-size: 24px;
    transition: all .2s ease;
    &:hover{
        transform: scale(1.15);
        color: var(--laranja);
    }
}
.menuButton {
    display: none;
    color: #fff;
    background: none;
    border: none;
    position: absolute;
    margin-left: auto;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}
.sideMenu{
    display: none;
}


/* Mostra o botão do menu apenas em telas menores que 600px */
@media (max-width: 600px) {
    header{
        .logo{
            width: 60px;
            
            margin: auto;
        }
    }
    .menuButton {
        display: block;
    }
    
    
    /* Estiliza o menu lateral */
    .sideMenu {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 0;
        right: -300px; /* Escondido por padrão */
        width: 250px;
        height: 100vh;
        background: #131313;
        color: white;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 1000;
    }
    
    .sideMenu.open {
        right: 0; /* Mostra o menu quando a classe 'open' é adicionada */
    }
    .closeMenu{
        color: #c52e2e;
        cursor: pointer;
        margin-left: auto;
        position: relative;
        right: 10px;
        font-size: 28px;
        transition: all .2s ease;
        &:hover{
            color:#811818;
        }
    }
    .linksMobile {
        list-style: none;
        padding: 0;
    }
    
    .linksMobile li {
        padding: 15px 20px;
        border-bottom: 1px solid #444;
        cursor: pointer;
        &:hover{
            background-color: #333;
        }
    }
    
   
}