/*Carrinho Lateral*/
.sideCart {
    position: fixed;
    top: 0;
    right: -500px;
    /* começa fora da tela */
    width: 350px;
    height: 100vh;
    background-color: #161616;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: right 0.3s ease;
    padding: 10px 5px;
}

.open {
    right: 0;
    /* quando aberto */
}

.closeIcon {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.DivisionemptyText{
    display: flex;
    justify-content: center;
    width: 100%;
}
.emptyText {
    margin: 20px 0;
}

.cartItem {
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin: 20px 0;

    .itemImage {
        cursor: pointer;
        width: 80px;
    }

    &>div {
        margin-left: 10px;

        .itemName:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .removeIcon {
        color: var(--vermelho);
        cursor: pointer;
        font-size: 25px;
        margin: auto 0;
    }
}


.DivisionButton {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    .ButtonCart {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 30px;
        width: 100px;
        background-color: white;
        border-radius: 6px;
        color: #000000;
        border: 1px solid rgba(255, 255, 255, 0.18);
        transition: 1s ease;
        cursor: pointer;

        &:hover {
            background-color: #000000a2;
            color: var(--laranja);
            font-size: 13px;
        }

        &:hover .IconButtonCart {
            animation: cartIconRotate .5s ease;
        }
    }

}

@keyframes cartIconRotate {
    0% {
        transform: rotate(0deg);
        /* Início da rotação */
    }

    100% {
        transform: rotate(360deg);
        /* Rotação completa */
    }
}

/*Página de Carrinho*/
.cartPage {
    display: flex;
    padding-bottom: 140px;
    align-items: start;
    margin-top: 130px;
    justify-content: center;
}

.cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
}

.cartTable th,
.cartTable td {
    padding: 16px 10px;
    border-bottom: 1px solid #ddd;
}

.productImage {
    width: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.quantityControl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .quantityIcon {
        cursor: pointer;
        font-size: 22px;
    }
}

.removeProductIcon {
    font-size: 22px;
    color: var(--vermelho);
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.orderDescription {
    text-align: center;
    padding: 22px 5px;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 400px;
    width: 40%;
    max-width: 400px;
    position: relative;
}


.TitleDescriptionResun {
    font-size: 18px;
    margin-bottom: 40px;
}

.opcaoEntregaSelect {
    max-width: 270px;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 2px;
    border: 1px solid rgba(211, 211, 211);
    outline: none;

    &>option {
        cursor: pointer;
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.FormDescrition {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.FormLabel {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.BarSeachrForm {
    width: 90%;
    max-width: 270px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211);
    outline: none;
    font-size: 13px;
    padding-left: 5px;
}

.TitleDescription {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.subtotalControl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 180px;

    &>p {
        color: #50505083;
        width: 100%;
        font-size: 16px;
    }
}

.sendRequest {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    position: relative;
    letter-spacing: 1.5px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 1s ease;
    cursor: pointer;
    overflow: hidden;
    color: var(--laranja);
    font-weight: 700;

}

.truckIcon {
    transition: transform 0.2s ease;
    position: absolute;
    right: 15px;
    color: var(--laranja);
}


.sendRequest:active .truckIcon {
    transform: translateX(45px)
}


@media screen and (max-width:767px) {
    /*Carrinho lateral*/
    .sideCart{
        opacity: 0;
    }
    .cartPage{
        flex-direction: column;
        height: auto;
        padding-bottom: 170px;
    }
    .orderDescription{
        width: 95%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
    }
    .opcaoEntregaSelect,.BarSeachrForm{
        max-width: 500px;
        height: 35px;
    }
    .subtotalControl{
        max-width: 250px;
    }
    .sendRequest{
        height: 35px;
    }
}
@media screen and (max-width:405px){
    .productImage {
        width: 50px;
    }
}