.home{
    padding-bottom: 100px;
    background-color: rgb(242, 242, 242);
    &>p{
      text-align: center;
      margin-top: 50px;
    }
}
.slider {
    height: 750px; /* altura padrão para desktop */
  }
  
  .slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
.loadingIcon{
  width: 60px;
  color: #797979;
  height: 60px;
  margin:auto;
  text-align: center;
  animation: loading .5s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lancamentos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 80px;

  &>h2{
    font-size: 2rem;
    font-family: var(--Ruda);
    font-weight: 700;
  }
}