.adminPage{
    background: linear-gradient(210deg,#000000,var(--laranja),#000);
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
}
.formAdmin{
    background-color: #ffffff00;
    backdrop-filter: blur(5px);
    display: flex;
    flex-wrap: wrap;
    padding:20px 10px;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    gap: 22px;
    text-align: start;
    margin-top: 10px;
    color: #000;
    
    border-radius: 10px;
    border: 1px solid #ffffff4b;
    box-shadow:inset 0px 0px 10px #000000;

    & div{
        display: flex;
        flex-direction: column;

        &>label{
            font-family: var(--Ruda);
            font-weight: 700;
        }
        &>input{
            outline: none;
            border-radius: 3px;
            border: 1px solid #000;
            padding: 3px;
        }
    }
}
.select{
    cursor: pointer;
}
.addShirt{
    background-color: #c7c7c7;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000000;
    padding: 5px 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    width: 90%;
    max-width: 300px;
    margin: auto;
    transition:background .3s ease;

    &:hover{
        background-color: #999999;
    }
}